/*
 *  Copyright 2014 Adobe Systems Incorporated
 *
 *  Licensed under the Apache License, Version 2.0 (the "License");
 *  you may not use this file except in compliance with the License.
 *  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */
html {
    height: 100%;
}

.sampletest1-body {
    margin: 0;
    padding: 0;

    height: 100%;

    background-color: #D3D3D3;

}

.sampletest1-body,
.sampletest1-paragraph,
.sampletest1-tableHeader,
.sampletest1-tableCell {
    font-family: "Lucida Grande","Lucida Sans Unicode", Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.sampletest1-body a {
    text-decoration: none;
    color: #025c1f;
}

.sampletest1-body a:hover {
    text-decoration: underline;
}

.sampletest1-body h1 {
    color: #025c1f;
    text-transform: uppercase;
}

.sampletest1-panel {
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;

    width: 940px;

    background-color: #FFFFFF;

    box-shadow: 0 0 9px 1px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 9px 1px -moz-rgba(0,0,0,.2);
    -webkit-box-shadow: 0 0 9px 1px rgba(0,0,0,.2);
    zoom: 100%;
}

.sampletest1-topnav {
    float: right;
    position: relative;
    top: -50px;
}

.sampletest1-topnav ul {
    list-style: none;
}

.sampletest1-topnav ul li {
    float: left;
    margin-left: 15px;
}

.sampletest1-topnav ul li.selected {
    font-weight: bold;
}

.sampletest1-text--center {
    text-align: center;
}

.sampletest1-footer {
    bottom: 0;
    margin-top: 10px;
}

/* parsys component */
div.par {
    clear: both;
}

div.parsys_column {
    height: 100%;
    width: 100%;
    float: left;
    border: 0;
    vertical-align: top;
    padding: 0;
    margin: 0;
}

div.parsys_column .section {
    overflow:hidden;
    width: 100%;
}

/* column control layouts */
div.cq-colctrl-cols {
    width: 100%;
    float: left;
}

div.cq-colctrl-default {
    width: 100%;
}

/* layout 0 : 50% 50% ( grid6 + grid6 ) */
div.cq-colctrl-lt0 {
}
div.cq-colctrl-lt0-c0 {
    width: calc(50% - 10px);
    margin-right:10px;
}
div.cq-colctrl-lt0-c1 {
    width: calc(50% - 10px);
    margin-left: 10px
}


div.parbase.image {
    text-align: center;
}

div.parbase.textimage .text {
    margin-left: 35px;
    position: relative;
    top: -38px;
}
